# Dependencias
node_modules/

# Archivos de entorno, configuración local y DB-local
.env
src/DB/tasks.json
src/DB/taskCategories.json

# directorios varios
public/js/tests/
src/requests/
context/

# scripts y .md de control de resumen de cambios y log de progreso
add-progres-sesion-log.ps1
git-resumen-commits-por-dia.ps1
resumen-cambios.md
progreso-log.md